<div class="row">
    <div class="col">
        <%= image_tag 'https://pillar-electric.s3-us-west-2.amazonaws.com/IMG_1107.jpg', class: 'rounded', width: '500' %>
    </div>
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>
    <div class="col">
        <%= image_tag 'https://pillar-electric.s3-us-west-2.amazonaws.com/IMG_1309.jpg', class: 'rounded float-right', width: '500' %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= image_tag 'https://pillar-electric.s3-us-west-2.amazonaws.com/IMG_1114.jpg', class: 'rounded', width: '500' %>
    </div>
    <div class="col">
    </div>
</div>