<div class="row">
    <div class="col">
        <%= image_tag 'https://lh3.googleusercontent.com/u5cYzeUV0kY-xrYJDYXTvu6R7E6ElLVjc_kJfYeT1DmW5b6UIcCxvmBexpGxKzL96v9coohp6piCl286gZFbI4rwPnr3KKZAhkr1HJhipsyaBXmoDsoBdZ5xmYNbLrfoMFlAJdzy3QmaYP2Q15Ebb-N-eVt4zmCJ5_TCiaZOUwofQgu3nCIAejioDCcJyYFMtttlOhIstFP_wiycrK-DovieA509XnnaYjOpmqJpnsnkSf4jXRk5GazzAoGuVHlcPfNbQDnJ_DJmV1xvH8ZhLOhM3f3oOTFhcA7Ez6mZlO1iP_vRhjzyYJNVsVUZVng8z8RDWP3Jewi9s2h1xUqlc9jhFMRTSu3_K5fNITmNfNBFi9djlrhlHlZmt-h3IIMUXYr8FFzeZ12u1tg2OF48rzVmSFug1YbOWQTq1NCBaIQX1OJLyfOpemJN5OlWQx1dLICQmzxgW7YFulb7j2rBNjLkN8rnHUO51IlQirYAsknbKUBlxeH4dFj1y2DxkJpSS0DIAUD7lF7gEbR7a4fDFzYMIk8Z_QgDwvFrPONDSRV8-0hD2RlSmd1U3yF23Du-yjGtVc3FcIoDFamv7KGttsHwao-npAZ6v42jpz1Btu7Y3jUY_1xM_n3ojQsDFMdiwEvgRZc3S7HGxYgcUg8s2JeLMwbmuy-2jVDODL13zBNO-3joQTEF2A=w1250-h937-no', class: 'rounded', width: '500' %>
    </div>
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>
    <div class="col">
        <%= image_tag 'https://lh3.googleusercontent.com/CcRg6GwOovsMhgupMx9c3_-kwbEyuHE6HGa48JNkDF3PFtD31tQP5ODvLyRyy01EnpB73jWZ7_L9vQFq2N7kFD-ayynKLf8x1MwtrxeZ42PeCnYlhuohvH0TxIVnGHVg5JewrdcPkqv8y2XxkhTp8uRP0T3FIcezciwN8JEsCUd-obXxzApBdhiYCQ7SWvIqu-Un9ZhIf7L1TlaGOll1rq1lwSG156Rv33cWTe_bW-c4jWTlHlZBoINu09yfR2eQTqJR8T9_HxtWjd8cXcsfolwCLQKjP1SYI5B-5kMIfsMiV4_p-6DzvRYUycOhn-vp3GfbDijkDSx4Y0M-tGqZq3gCM65-RgWSw1ZtPMVUtcQew9VDYpOiepOchqkjUgS1AT-Z0KHBAuftpd83GQWlwbs9xRV0Ai4zG-3MYmDeeeqU8WgX-bScuB6OatfFSQ_h9P5rmfb9rgL1ISWpK_5Z0Ak7wqXPfVjAhzdu9lKzoS_aMrL_qAz2fWP1lN_Ib1azchNpvCjIi1DJDCzG3jLeCZSYcVpv2ArKgaV3UXkpIxNulpnn0D_cVJxNVqgDJivJxT1P5gX6zXaN51ygkDvuP_TR0teNOOqgIa7CFjXrqqf-asWo7S0sSqLUJZBB6LaoC81d_4jaPNLw8JNQph-1cdOTUOzRgaQ3Nm7b91XP5b8MoeXnQZ8giw=w768-h937-no', class: 'rounded float-right', width: '500' %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= image_tag 'https://lh3.googleusercontent.com/0X7rrGWFmH3tRHkXSmrqb8K2rtZYo7y_Y8ypdd13nGrKarSbXwn1XHd6g8pThXdJG3WPJxJ1E6Zd6Sfb7cqPF3ZDHF8Rc9xmSFydAv2yM0LPgD9iusXWzTTwN27Pnn-6jn_ANYhi8va2mgaFm-LHnkLG3fparquPWZJQu-7A_kDKLmtWnq7-86lCdmZAEsFvTwsNOKJlmDC4B4iNu0T4CaBsgsX5gyuospGBwgpb9CQ3tCW78ljkUOq90PMIPzKAl53eYUF1CEFp9fvV_SH4giFq1icwNJlgaiXgynQ92rs6euJSNIKHIQbjgm39k4i5kc8hj1N4Y823gAQG_w3XPlkYIr--dbH95hkXlDMo4Gj2ZfgHLbbz2wuX2vB_YI3OJ89t5gWg2ziGQKzO_Sgxz_fhXsGKikXal5h0XSGtoL8SK0qmSNtTrPhUNQy7geK2nPmC1WJ5WsGbGQuZTndp38H_zTlv_6v7F0kjIMNU8sLW7JIiHxh4vrwUkQRq7g_zomR3b9w0cHOhfwhwv37o8KqBSsnKy1nhPWVfSydL3HCTQ9fdSW0bdCXyDbjrbTQI1Fl3xw7byJiGK2d_SPGUrTwsi9uM8e_4gbCffDwAANW7FUE-a4dVVUOwm44ps11XueMnvp4B_c_m5XI2QQMdZjfhp39JBIipdXD2Y7uTHy4w0Pua944FIA=w703-h937-no', class: 'rounded', width: '500' %>
    </div>
    <div class="col">
    </div>
</div>