<h2>Electrician</h2>
<p>Osmar Ponce was born and raised in the heat of Phoenix, AZ. He graduated from Dobson High School in 2017 with high merits. After forsaking a full ride for ASU he immediately began working in the trades first in HVAC. There he learned the electrical trade starting on how to install basic outlets. From there on he has wired houses from the ground up all across the valley, from Buckeye, to Scottsdale, and down to Santan Valley. Osmar takes pride in his work and will not leave the job site without meeting his high standards. </p>

<h3>Phone</h3>
<p>602.900.1667</p>
<h3>Email</h3>
<p>osmar@pillarelectric.net</p>

